html{
    max-width: 500px;
    font-family: serif;
    padding: 20px;
    margin-left: 50px;

}

.container {
    width: 450px;
    justify-content: center;
    text-align: center;
    box-shadow: -10px -2px 5px rgba(0, 0, 0, .15), 10px 2px 5px rgba(0, 0, 0, .15);
}

img {
    width: 450px;
    justify-content: center;
    
}

h1{
    text-align: left; 

}

.data {
    margin-left: 30px;
}

.bio {
    width: 450px;
    display: flex;
    justify-content: space-evenly;
    line-height: 1.4;
    padding: 10px;
    margin-left: -50px;
    
}

.caps {
    font-size: 12px;
    color: gray;
}

.first {
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
    padding-right: 15px;
}
.second {
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
    padding-right: 15px;
}

.third {
    display: flex;
    flex-direction: column;
}

#details {
    width: 350px;
    text-align: left;
    margin-left: 30px; 
    font-size: 18px;
    line-height: 1.4;
    border-top: 1px solid gray;
}

#apply {
    color: blue;
    font-weight: 600;
    justify-content: right;
    text-align: right;
    margin-right: 100px;
    padding-bottom: 10px;
}
.fa {
    margin-left: 10px;
    font-weight: 100;
}